@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");
.onePage {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  margin: 0;
}

html,
body {
  font-size: 16px;
  font-weight: "Roboto", sans-serif;
  font-weight: 400;
  color: #636363;
}

a {
  text-decoration: none;
  color: #fa3150;
}
a:hover {
  text-decoration: underline;
  color: #fa3150;
}

button {
  cursor: pointer;
  border: 1px solid #000000;
  padding: 10px 35px;
  background-color: transparent;
  color: #000000;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s;
  text-decoration: none;
}
button:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn-standard {
  cursor: pointer;
  border: 1px solid #000000;
  padding: 10px 35px;
  background-color: transparent;
  color: #000000;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s;
  text-decoration: none;
}
.btn-standard:hover {
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
}

.btn-white {
  background-color: #ffffff;
  color: #292929;
  padding: 5px 12px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-theme {
  cursor: pointer;
  text-decoration: none;
  background-color: #fa3150;
  color: #ffffff;
  border: none;
  transition: all 0.2s;
}

.invalid {
  border: 1px solid #fa3150 !important;
}

.menu-spacer {
  padding-top: 10rem !important;
}
@media (min-width: 992px) {
  .menu-spacer {
    padding-top: 6rem !important;
  }
}

.open-menu {
  display: flex !important;
}

header {
  padding: 15px 0;
  position: fixed;
  background: #ffffff;
  width: 100%;
}
@media (min-width: 992px) {
  header {
    padding: 30px 0;
  }
}
header .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "logo btntoggle" "menu menu";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "logo menu";
  }
}
header .logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  font-size: 27px;
  font-weight: 700;
  color: #202020;
}
header .logo img {
  margin-right: 5px;
}
header .menu {
  font-family: "Poppins", sans-serif;
  grid-area: menu;
}
@media (min-width: 992px) {
  header .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
header .menu .menu-links {
  padding-top: 20px;
  display: none;
  justify-content: center;
}
@media (min-width: 992px) {
  header .menu .menu-links {
    padding-top: 0;
    display: flex;
  }
}
header .menu .menu-links .link {
  color: #292929;
  margin: 0 20px;
  display: block;
  text-align: center;
}
@media (min-width: 992px) {
  header .menu .menu-links .link {
    display: inline-block;
    text-align: start;
  }
}
header .menu .menu-links .link:hover {
  color: #fa3150;
}
header .menu .menu-icons {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  background-color: #292929;
  padding: 10px 0 10px;
}
@media (min-width: 992px) {
  header .menu .menu-icons {
    position: static;
    background-color: transparent;
    padding: 0 0 0 0;
  }
}
header .menu .menu-icons .link {
  margin-left: 15px;
  color: #aeaeae;
}
header .menu .menu-icons .link:hover {
  color: #292929;
}
header .btn-toggle {
  grid-area: btntoggle;
  text-align: right;
}
@media (min-width: 992px) {
  header .btn-toggle {
    display: none;
  }
}

.showcase {
  background-color: #f3f2f2;
  padding: 60px 0;
}
@media (min-width: 992px) {
  .showcase {
    padding: 0 0 60px 0;
  }
}
.showcase .container {
  display: block;
  text-align: center;
}
@media (min-width: 992px) {
  .showcase .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.showcase .content {
  font-family: "Poppins", sans-serif;
  color: #292929;
}
@media (min-width: 992px) {
  .showcase .content {
    text-align: left;
  }
}
.showcase .content .ingress {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.showcase .content .title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .showcase .content .title {
    font-size: 60px;
    line-height: 1.5;
  }
}
.showcase img {
  display: none;
}
@media (min-width: 992px) {
  .showcase img {
    display: block;
  }
}

.collection {
  padding: 40px 0;
}
.collection .collection-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: #292929;
}
@media (min-width: 768px) {
  .collection .collection-title {
    font-size: 48px;
  }
}
.collection .collection-title-minor {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #292929;
}
@media (min-width: 768px) {
  .collection .collection-title-minor {
    text-align: center;
  }
}
.collection .categories {
  display: none;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 992px) {
  .collection .categories {
    display: flex;
  }
}
.collection .categories .category-item {
  margin-right: 5px;
}
.collection .categories .category-item + li::before {
  content: "/";
  margin-right: 5px;
}
.collection .collection-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}
@media (min-width: 768px) {
  .collection .collection-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .collection .collection-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .collection .collection-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.collection .load-more {
  margin-top: 40px;
  text-align: center;
}

.collection-item {
  background-color: #ffffff;
  text-decoration: none;
  display: block;
}
.collection-item img {
  width: 100%;
  height: auto;
}
.collection-item .body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #292929;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  padding: 0 10px 10px 10px;
}
.collection-item .body .info {
  padding: 2px;
}
.collection-item .body .info .title {
  font-size: 18px;
  font-weight: 500;
}
.collection-item .body .info .price {
  font-size: 16px;
}
.collection-item .body .tocart {
  padding: 2px;
  font-size: 24px;
  color: #292929;
}
.collection-item .body .tocart:hover {
  color: #aeaeae;
}
.collection-item:hover {
  text-decoration: none;
}
@media (min-width: 1200px) {
  .collection-item .tocart {
    display: none;
  }
  .collection-item:hover .tocart {
    display: block;
  }
}

.up-to-sell {
  background-color: #faefef;
  padding: 40px 0;
}
.up-to-sell .collection-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}
@media (min-width: 768px) {
  .up-to-sell .collection-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .up-to-sell .collection-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.up-to-sell .collection-grid .collection-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.up-to-sell .collection-grid .collection-content .container {
  text-align: center;
  padding: 40px;
}
.up-to-sell .collection-grid .collection-content .title-red {
  font-family: "Poppins", sans-serif;
  color: #fa3150;
  font-size: 18px;
  font-weight: 700;
}
.up-to-sell .collection-grid .collection-content .title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 48px;
  color: #292929;
}
.up-to-sell .collection-grid .collection-content .ingress {
  font-family: "Poppins", sans-serif;
  color: #292929;
  font-size: 24px;
  font-weight: 700;
}
.up-to-sell .collection-grid .collection-content .text {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  color: #636363;
  font-size: 16px;
  font-weight: 400;
}
.up-to-sell .collection-grid .collection-content .link {
  display: block;
  margin-top: 30px;
  color: #292929;
}

.top-selling .container-fluid {
  padding-left: 4rem;
  padding-right: 4rem;
}
.top-selling .collection-title {
  font-size: 30px;
}
.top-selling .collection-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}
@media (min-width: 768px) {
  .top-selling .collection-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .top-selling .collection-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .top-selling .collection-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}
.top-selling .collection-grid .collection-item .body {
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: #292929;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  padding: 0 10px 10px 10px;
}
.top-selling .collection-grid .collection-item .body .info {
  padding: 2px;
}
.top-selling .collection-grid .collection-item .body .info .title {
  font-size: 16px;
  font-weight: 500;
}
.top-selling .collection-grid .collection-item .body .info .price {
  font-size: 12px;
}
.top-selling .collection-grid .collection-item .body .tocart {
  padding: 2px;
  font-size: 12px;
  color: #292929;
}
.top-selling .collection-grid .collection-item .body .tocart:hover {
  color: #aeaeae;
}
.top-selling .load-more {
  margin-top: 40px;
  text-align: center;
}
.top-selling .load-more button {
  padding: 5px 10px;
}

.subscribe .container-fluid {
  background-color: #aeaeae;
  padding: 80px 0;
}
.subscribe .container {
  display: grid;
  background-color: #ffffff;
  padding: 70px 30px 120px 30px;
}
@media (min-width: 768px) {
  .subscribe .container {
    padding: 70px 60px 120px 60px;
  }
}
@media (min-width: 992px) {
  .subscribe .container {
    padding: 70px 160px;
  }
}
.subscribe .input-holder {
  position: relative;
  height: 50px;
}
.subscribe .input-holder input {
  width: 100%;
  height: 100%;
  border: 1px solid #aeaeae;
  text-align: center;
  border-radius: 25px;
}
@media (min-width: 768px) {
  .subscribe .input-holder input {
    padding-left: 2rem;
    text-align: start;
  }
}
.subscribe .input-holder button {
  border: none;
  border-radius: 25px;
  position: relative;
  width: 100%;
  margin-top: 5px;
  height: 50px;
  right: 0;
  word-wrap: break-word;
  background-color: #fa3150;
  color: #ffffff;
}
@media (min-width: 768px) {
  .subscribe .input-holder button {
    position: absolute;
    width: 300px;
    margin-top: 0;
  }
}

footer {
  height: 100px;
  background-color: #292929;
  display: grid;
  place-items: center;
  align-items: center;
}
footer .copyright {
  padding-top: 10px;
  color: #aeaeae;
}

.banner .container-fluid {
  padding: 0;
  display: grid;
  place-items: center;
  width: 100%;
  background-color: #cccccc;
  min-height: 300px;
}
.banner .container-fluid img {
  display: none;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
@media (min-width: 992px) {
  .banner .container-fluid img {
    display: block;
  }
}
.banner .container-fluid .mobile-text {
  padding: 60px 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 992px) {
  .banner .container-fluid .mobile-text {
    display: none;
  }
}
.banner .container-fluid .mobile-text h2 {
  font-size: 32px;
  color: #000000;
}

.product-details .container {
  margin-top: 70px;
}
.product-details .container .images-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "images" "info-actions";
}
@media (min-width: 992px) {
  .product-details .container .images-info {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "images info-actions";
  }
}
.product-details .container .images-info .images {
  grid-area: images;
}
.product-details .container .images-info .images .bigImg {
  display: block;
  margin: 0 auto 0 auto;
  max-width: 501px;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .product-details .container .images-info .images .bigImg {
    margin: 0 auto 0 auto;
  }
}
@media (min-width: 992px) {
  .product-details .container .images-info .images .bigImg {
    margin: 0 auto 0 0;
  }
}
.product-details .container .images-info .images .small {
  display: none;
  justify-content: center;
  gap: 7px;
  margin-top: 1rem;
}
@media (min-width: 576px) {
  .product-details .container .images-info .images .small {
    display: flex;
  }
}
@media (min-width: 768px) {
  .product-details .container .images-info .images .small {
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .product-details .container .images-info .images .small {
    justify-content: start;
  }
}
.product-details .container .images-info .info-actions {
  margin-top: 30px;
  grid-area: info-actions;
  text-align: center;
}
@media (min-width: 992px) {
  .product-details .container .images-info .info-actions {
    margin-left: 1rem;
    margin-top: 0;
    text-align: start;
  }
}
@media (min-width: 1200px) {
  .product-details .container .images-info .info-actions {
    margin-left: 0;
  }
}
.product-details .container .images-info .info-actions .title {
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #000000;
}
.product-details .container .images-info .info-actions .breadtext {
  margin-bottom: 2rem;
}
.product-details .container .images-info .info-actions .reviews {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
@media (min-width: 992px) {
  .product-details .container .images-info .info-actions .reviews {
    justify-content: flex-start;
  }
}
.product-details .container .images-info .info-actions .price {
  margin-top: 1rem;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #000000;
}
.product-details .container .images-info .info-actions .cart-actions {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "counter button" "color-selector sku ";
}
@media (min-width: 992px) {
  .product-details .container .images-info .info-actions .cart-actions {
    place-items: start;
  }
}
.product-details .container .images-info .info-actions .cart-actions .counter {
  grid-area: counter;
  display: flex;
  width: 120px;
  height: 40px;
  text-align: center;
}
.product-details .container .images-info .info-actions .cart-actions .counter .counter-border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #aeaeae;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.product-details .container .images-info .info-actions .cart-actions .counter .counter-border:hover {
  background-color: #aeaeae;
}
.product-details .container .images-info .info-actions .cart-actions button {
  grid-area: button;
}
.product-details .container .images-info .info-actions .cart-actions .color-selector {
  grid-area: color-selector;
  flex-direction: row;
  display: flex;
  gap: 5px;
  cursor: pointer;
  margin-top: 1rem;
}
.product-details .container .images-info .info-actions .cart-actions .color-selector .red {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fa3150;
}
.product-details .container .images-info .info-actions .cart-actions .color-selector .yellow {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #f9c936;
}
.product-details .container .images-info .info-actions .cart-actions .color-selector .blue {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #92b8b9;
}
.product-details .container .images-info .info-actions .cart-actions .sku {
  grid-area: sku;
  text-align: center;
  margin-top: 0.8rem;
}
.product-details .container .images-info .info-actions .wishlist {
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  font-size: 16px;
}
.product-details .container .menu-bar {
  justify-content: space-between;
  height: 50px;
  margin-top: 2rem;
  display: grid;
  row-gap: 5px;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 992px) {
  .product-details .container .menu-bar {
    display: flex;
    row-gap: 0;
  }
}
.product-details .container .menu-bar .menu-button {
  display: flex;
  height: auto;
  border: 1px solid #aeaeae;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.product-details .container .menu-bar .menu-button:hover {
  background-color: #fa3150;
  color: #ffffff;
}
.product-details .container .detailed {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "title" "img" "long-format-text";
  text-align: center;
}
@media (min-width: 992px) {
  .product-details .container .detailed {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: "title title" "long-format-text img";
    text-align: start;
  }
}
.product-details .container .detailed .title {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 1rem 0;
  grid-area: title;
}
.product-details .container .detailed .long-format-text {
  grid-area: long-format-text;
}
@media (min-width: 992px) {
  .product-details .container .detailed .long-format-text {
    margin-right: 1rem;
  }
}
.product-details .container .detailed img {
  grid-area: img;
  margin: auto;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
}
@media (min-width: 992px) {
  .product-details .container .detailed img {
    margin: 0;
    margin-bottom: 0.5rem;
  }
}

.related-products-small-images {
  padding-top: 100px;
  background-color: #fafafa;
  padding-bottom: 100px;
}
.related-products-small-images .container {
  display: grid;
  place-items: center;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .related-products-small-images .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .related-products-small-images .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1200px) {
  .related-products-small-images .container {
    grid-template-columns: repeat(5, 1fr);
  }
}

.userForm {
  flex: 1;
}
.userForm .container {
  height: 100%;
  padding: 2rem 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: grid;
  place-items: center;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .userForm .container {
    text-align: start;
  }
}
.userForm .container .title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  .userForm .container .title {
    text-align: start;
  }
}
.userForm .container form {
  width: 100%;
}
.userForm .container form input {
  width: 100%;
  margin-bottom: 1rem;
}
.userForm .container form .labelUtilsLeft {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
@media (min-width: 768px) {
  .userForm .container form .labelUtilsLeft {
    justify-content: flex-start;
  }
}
.userForm .container form .labelUtilsRight {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .userForm .container form .labelUtilsRight {
    justify-content: space-between;
  }
}
.userForm .container form .name,
.userForm .container form .addressOptions,
.userForm .container form .optionals {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
@media (min-width: 768px) {
  .userForm .container form .name,
  .userForm .container form .addressOptions,
  .userForm .container form .optionals {
    grid-template-columns: 1fr 1fr;
  }
}
.userForm .container form .name label,
.userForm .container form .addressOptions label,
.userForm .container form .optionals label {
  display: block;
}
.userForm .container form .termHolder {
  display: flex;
  gap: 1rem;
}
.userForm .container form .terms,
.userForm .container form .leaveSignedIn {
  width: auto;
  display: block;
}
@media (min-width: 768px) {
  .userForm .container form .terms,
  .userForm .container form .leaveSignedIn {
    width: auto;
    display: flex;
  }
}
.userForm .container form .textBox {
  width: 100%;
  min-height: 150px;
  margin-bottom: 1rem;
}
.userForm .container form button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.8rem;
}
@media (min-width: 768px) {
  .userForm .container form button {
    margin-left: 0;
    margin-right: 0;
  }
}
