@model GridCollectionViewModel

<section class="collection">
	<div class="container">
		<h1 class="collection-title">@Model.Title</h1>
		@if (Model.Categories != null)
		{
			<ul class="categories">
				<li class="category-item">All</li>
				<li class="category-item">Bag</li>
				<li class="category-item">Dress</li>
				<li class="category-item">Decoration</li>
				<li class="category-item">Essentials</li>
				<li class="category-item">Interior</li>
				<li class="category-item">Laptop</li>
				<li class="category-item">Mobile</li>
				<li class="category-item">Beauty</li>
			</ul>
		}
		@if (Model.GridItems != null)
		{
			<div class="collection-grid">
			</div>
		}

		@if (Model.LoadMore == true)
		{
			<div class="load-more">
				<button class="btn-white">
					LOAD MORE <i class="fa-solid fa-rotate-right"></i>
				</button>
			</div>
		}

	</div>
</section>