<header>
	<div class="container">
		<div class="logo"><img src="images/logo.svg" alt="">bmerketo</div>
		<div class="menu">
			<nav id="menu" class="menu-links">
				<a class="link" asp-controller="Home" asp-action="Index">HOME</a>
				<a class="link" asp-controller="Products" asp-action="Index">PRODUCTS</a>
				<a class="link" asp-controller="Contacts" asp-action="Index">CONTACT</a>
			</nav>
			<nav class="menu-icons">
				<a class="link" asp-controller="Products" asp-action="Search"><i class="fa-regular fa-search"></i></a>
				@if(signInManager.IsSignedIn(User))
				{
					<a class="link" asp-controller="Account" asp-action="Index">Account</a>
				}
				else
				{
					<a class="link" asp-controller="Account" asp-action="SignIn">Login</a>
				}
				<a class="link" asp-controller="Cart" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i></a>
			</nav>
		</div>
		<div class="btn-toggle toggle">
			<button class="btn-white" data-option="toggle" data-target="#menu">
				<i class="fa-regular fa-bars"></i>
			</button>
		</div>
	</div>
</header>