<section class="related-products collection">
	<div class="container">
		<div class="collection-title-minor">Related Products</div>
		<div class="collection-grid">
			<!-- collection-item start -->
			<a href="#" class="collection-item">
				<img src="~/images/placeholders/270x295.svg" alt="" />
				<div class="body">
					<div class="info">
						<div class="title">Gumshoes black fashion</div>
						<div class="price">$30.00</div>
					</div>
					<i class="tocart fa-regular fa-cart-plus"></i>
				</div>
			</a>
			<a href="#" class="collection-item">
				<img src="~/images/placeholders/270x295.svg" alt="" />
				<div class="body">
					<div class="info">
						<div class="title">Gumshoes black fashion</div>
						<div class="price">$30.00</div>
					</div>
					<i class="tocart fa-regular fa-cart-plus"></i>
				</div>
			</a>
			<a href="#" class="collection-item">
				<img src="~/images/placeholders/270x295.svg" alt="" />
				<div class="body">
					<div class="info">
						<div class="title">Gumshoes black fashion</div>
						<div class="price">$44.00</div>
					</div>
					<i class="tocart fa-regular fa-cart-plus"></i>
				</div>
			</a>
			<a href="#" class="collection-item">
				<img src="~/images/placeholders/270x295.svg" alt="" />
				<div class="body">
					<div class="info">
						<div class="title">Woman white dress</div>
						<div class="price">$30.00</div>
					</div>
					<i class="tocart fa-regular fa-cart-plus"></i>
				</div>
			</a>
		</div>
	</div>
</section>
<section class="related-products-small-images">
	<div class="container">
		<img src="~/images/placeholders/200x122.svg"
			 alt="related product tiny" />
		<img src="~/images/placeholders/200x122.svg"
			 alt="related product tiny" />
		<img src="~/images/placeholders/200x122.svg"
			 alt="related product tiny" />
		<img src="~/images/placeholders/200x122.svg"
			 alt="related product tiny" />
		<img src="~/images/placeholders/200x122.svg"
			 alt="related product tiny" />
	</div>
</section>