@model ShowcaseViewModel

<section class="showcase menu-spacer">
	<div class="container">
		<div class="content">
			<div class="ingress">@Model?.Ingress</div>
			<div class="title">@Model?.Title</div>
			@if (!string.IsNullOrEmpty(Model?.LinkUrl) && !string.IsNullOrEmpty(Model?.LinkContent))
			{
				<a href="@Model.LinkUrl" class="btn-theme btn-standard">@Model.LinkContent</a>
			}
		</div>
		<img src="@Model?.ImageUrl" alt="@Model?.Title" />
	</div>
</section>