<section class="collection top-selling">
	<div class="container-fluid">
		<h1 class="collection-title">Top selling products in this week</h1>
		<div class="collection-grid">
			<!-- collection-item start -->
			<a href="#" class="collection-item">
				<img src="images/placeholders/270x295.svg" alt="" />
				<div class="body">
					<div class="info">
						<div class="title">Apple watch collection</div>
						<div class="price">$30.00</div>
					</div>
					<i class="tocart fa-regular fa-cart-plus"></i>
				</div>
			</a>
			<!-- collection-item end -->
			<!-- collection-item start -->
			<a href="#" class="collection-item">
				<img src="images/placeholders/270x295.svg" alt="" />
				<div class="body">
					<div class="info">
						<div class="title">Apple watch collection</div>
						<div class="price">$30.00</div>
					</div>
					<i class="tocart fa-regular fa-cart-plus"></i>
				</div>
			</a>
			<!-- collection-item end -->
			<!-- collection-item start -->
			<a href="#" class="collection-item">
				<img src="images/placeholders/270x295.svg" alt="" />
				<div class="body">
					<div class="info">
						<div class="title">Apple watch collection</div>
						<div class="price">$30.00</div>
					</div>
					<i class="tocart fa-regular fa-cart-plus"></i>
				</div>
			</a>
			<!-- collection-item end -->
			<!-- collection-item start -->
			<a href="#" class="collection-item">
				<img src="images/placeholders/270x295.svg" alt="" />
				<div class="body">
					<div class="info">
						<div class="title">Apple watch collection</div>
						<div class="price">$30.00</div>
					</div>
					<i class="tocart fa-regular fa-cart-plus"></i>
				</div>
			</a>
			<!-- collection-item end -->
			<!-- collection-item start -->
			<a href="#" class="collection-item">
				<img src="images/placeholders/270x295.svg" alt="" />
				<div class="body">
					<div class="info">
						<div class="title">Apple watch collection</div>
						<div class="price">$30.00</div>
					</div>
					<i class="tocart fa-regular fa-cart-plus"></i>
				</div>
			</a>
			<!-- collection-item end -->
			<!-- collection-item start -->
			<a href="#" class="collection-item">
				<img src="images/placeholders/270x295.svg" alt="" />
				<div class="body">
					<div class="info">
						<div class="title">Apple watch collection</div>
						<div class="price">$30.00</div>
					</div>
					<i class="tocart fa-regular fa-cart-plus"></i>
				</div>
			</a>
			<!-- collection-item end -->
			<!-- collection-item start -->
			<a href="#" class="collection-item">
				<img src="images/placeholders/270x295.svg" alt="" />
				<div class="body">
					<div class="info">
						<div class="title">Apple watch collection</div>
						<div class="price">$30.00</div>
					</div>
					<i class="tocart fa-regular fa-cart-plus"></i>
				</div>
			</a>
			<!-- collection-item end -->
		</div>
		<div class="load-more">
			<button class="btn-white">
				<i class="fa-solid fa-chevron-left"></i>
			</button>
			<button class="btn-white">
				<i class="fa-solid fa-chevron-right"></i>
			</button>
		</div>
	</div>
</section>