<section class="up-to-sell">
	<div class="container">
		<div class="collection-grid">
			<!-- collection-item start -->
			<a href="#" class="collection-item">
				<img src="images/placeholders/369x310.svg" alt="" />
				<div class="body">
					<div class="info">
						<div class="title">Apple watch collection</div>
						<div class="price">$30.00</div>
					</div>
					<i class="tocart fa-regular fa-cart-plus"></i>
				</div>
			</a>
			<!-- collection-item end -->
			<!-- collection-item start -->
			<div class="collection-item collection-content">
				<div class="container">
					<div class="title-red">UP TO SELL</div>
					<div class="title">50% OFF</div>
					<div class="ingress">Get the Best Price</div>
					<div class="text">
						Get the best daily offer et accusam et justo duo dolores et ea
						rebum. Stet clita kasd gubergren no sea taki
					</div>
					<a href="#" class="link">Discover More</a>
				</div>
			</div>
			<!-- collection-item end -->
			<!-- collection-item start -->
			<a href="#" class="collection-item">
				<img src="images/placeholders/369x310.svg" alt="" />
				<div class="body">
					<div class="info">
						<div class="title">Apple watch collection</div>
						<div class="price">$30.00</div>
					</div>
					<i class="tocart fa-regular fa-cart-plus"></i>
				</div>
			</a>
			<!-- collection-item end -->
		</div>
	</div>
</section>