<section class="onePage menu-spacer">
    <div class="container">
        <div class="title">Administration view</div>
        <a asp-controller="Admin" asp-action="ProductAdminView">Click here to go to article administration</a>
        <a asp-controller="Admin" asp-action="UserAdminView">Click here to go to user administration</a>
    </div>
</section>