$color-white: #ffffff;

$color-theme-1: #fa3150;
$color-theme-2: #faefef;
$color-theme-3: #f3f2f2;

$color-dark-1: #000000;
$color-dark-2: #292929;
$color-dark-3: #636363;
$color-dark-4: #aeaeae;
$color-dark-banner: #cccccc;

$color-yellow: #f9c936;
$color-green: #92b8b9;
