<section class="collection">
	<div class="container">
		<h1 class="collection-title">Best Collection</h1>
		<ul class="categories">
			<li class="category-item">All</li>
			<li class="category-item">Bag</li>
			<li class="category-item">Dress</li>
			<li class="category-item">Decoration</li>
			<li class="category-item">Essentials</li>
			<li class="category-item">Interior</li>
			<li class="category-item">Laptop</li>
			<li class="category-item">Mobile</li>
			<li class="category-item">Beauty</li>
		</ul>
		<div class="collection-grid">
			<!-- collection-item start -->
			<a href="#" class="collection-item">
				<img src="images/placeholders/270x295.svg" alt="" />
				<div class="body">
					<div class="info">
						<div class="title">Woman white dress</div>
						<div class="price">$30.00</div>
					</div>
					<i class="tocart fa-regular fa-cart-plus"></i>
				</div>
			</a>
			<!-- collection-item end -->
			<!-- collection-item start -->
			<a href="#" class="collection-item">
				<img src="images/placeholders/270x295.svg" alt="" />
				<div class="body">
					<div class="info">
						<div class="title">Apple watch collection</div>
						<div class="price">$30.00</div>
					</div>
					<i class="tocart fa-regular fa-cart-plus"></i>
				</div>
			</a>
			<!-- collection-item end -->
			<!-- collection-item start -->
			<a href="#" class="collection-item">
				<img src="images/placeholders/270x295.svg" alt="" />
				<div class="body">
					<div class="info">
						<div class="title">Apple watch collection</div>
						<div class="price">$30.00</div>
					</div>
					<i class="tocart fa-regular fa-cart-plus"></i>
				</div>
			</a>
			<!-- collection-item end -->
			<!-- collection-item start -->
			<a href="#" class="collection-item">
				<img src="images/placeholders/270x295.svg" alt="" />
				<div class="body">
					<div class="info">
						<div class="title">Apple watch collection</div>
						<div class="price">$30.00</div>
					</div>
					<i class="tocart fa-regular fa-cart-plus"></i>
				</div>
			</a>
			<!-- collection-item end -->
			<!-- collection-item start -->
			<a href="#" class="collection-item">
				<img src="images/placeholders/270x295.svg" alt="" />
				<div class="body">
					<div class="info">
						<div class="title">Apple watch collection</div>
						<div class="price">$30.00</div>
					</div>
					<i class="tocart fa-regular fa-cart-plus"></i>
				</div>
			</a>
			<!-- collection-item end -->
			<!-- collection-item start -->
			<a href="#" class="collection-item">
				<img src="images/placeholders/270x295.svg" alt="" />
				<div class="body">
					<div class="info">
						<div class="title">Apple watch collection</div>
						<div class="price">$30.00</div>
					</div>
					<i class="tocart fa-regular fa-cart-plus"></i>
				</div>
			</a>
			<!-- collection-item end -->
			<!-- collection-item start -->
			<a href="#" class="collection-item">
				<img src="images/placeholders/270x295.svg" alt="" />
				<div class="body">
					<div class="info">
						<div class="title">Apple watch collection</div>
						<div class="price">$30.00</div>
					</div>
					<i class="tocart fa-regular fa-cart-plus"></i>
				</div>
			</a>
			<!-- collection-item end -->
			<!-- collection-item start -->
			<a href="#" class="collection-item">
				<img src="images/placeholders/270x295.svg" alt="" />
				<div class="body">
					<div class="info">
						<div class="title">Apple watch collection</div>
						<div class="price">$30.00</div>
					</div>
					<i class="tocart fa-regular fa-cart-plus"></i>
				</div>
			</a>
			<!-- collection-item end -->
		</div>
		<div class="load-more">
			<button class="btn-white">
				LOAD MORE <i class="fa-solid fa-rotate-right"></i>
			</button>
		</div>
	</div>
</section>