<section class="banner menu-spacer">
	<div class="container-fluid">
		<img src="~/images/placeholders/1920x300_products.svg" alt="" />
		<div class="mobile-text">
			<h2>SHOP</h2>
			<p>HOME. PRODUCT DETAILS</p>
		</div>
	</div>
</section>