@model PostShowcaseViewModel

@if (Model != null)
{
    <section class="post-showcase" style="margin-bottom: 3rem;">
        <div class="container">
            @foreach (PostShowcaseItemViewModel postShowcaseItemViewModel in Model.Posts)
            {
                <partial name="/Views/Partials/_PostShowcaseItem.cshtml" model="postShowcaseItemViewModel" />
            }
        </div>
    </section>
}