.related-products-small-images {
	padding-top: 100px;
	background-color: #fafafa;
	padding-bottom: 100px;
	.container {
		display: grid;
		place-items: center;
		gap: 10px;
		grid-template-columns: repeat(1, 1fr);

		@include md {
			grid-template-columns: repeat(3, 1fr);
		}
		@include lg {
			grid-template-columns: repeat(4, 1fr);
		}
		@include xl {
			grid-template-columns: repeat(5, 1fr);
		}
	}
}
