@{
    var products = await productsService.GetAllAsync();
}
<section class="onePage menu-spacer">
    @if (products != null)
    {
        var AllProducts = new GridCollectionViewModel
                {
                    Title = "All Products",
                    LoadMore = false,
                    GridItems = new List<GridCollectionItemViewModel>()
                };
        foreach (var product in products)
        {
            AllProducts.GridItems.Add(new GridCollectionItemViewModel
                    {
                        Id = product.Id.ToString(),
                        Title = product.Name,
                        Price = product.Price.ToString(),
                        ImageUrl = "images/placeholders/270x295.svg" //
                    });

        }
        <partial name="/Views/Partials/_GridCollection.cshtml" model="AllProducts" />
    };
    }
</section>

