<section class="userForm">
	<div class="container">
		<div class="title">Write something</div>
		<form asp-controller="Contacts" asp-action="SubmitMessage" method="post">
			<div class="name">
				<div>
					<label for="firstName">Your Name*</label>
					<input type="text" name="firstName" />
				</div>
				<div>
					<label for="email">Email*</label>
					<input type="email" name="email" />
				</div>
			</div>
			<div class="optionals">
				<div>
					<label for="mobile">Mobile (optional)</label>
					<input type="text" name="mobile" />
				</div>
				<div>
					<label for="company">Company (optional)</label>
					<input type="text" name="company" />
				</div>
			</div>
			<label for="message">Something write*</label>
			<textarea class="textBox" name="message"></textarea>

			<div class="termHolder">
				<input class="terms" type="checkbox" name="terms" />

				<label for="terms">
					Save my name, email and website in this browser for the next time
					I comment
				</label>
			</div>
			<button class="btn-theme">Submit</button>
		</form>
	</div>
</section>