<section class="subscribe">
	<div class="container-fluid">
		<div class="container">
			<div class="input-holder">
				<input type="email" placeholder="Enter your mail here" />
				<button>SUBSCRIBE FOR NEWSLETTER</button>
			</div>
		</div>
	</div>
</section>