<section class="userForm onePage menu-spacer">
	<div class="container">
		<div class="title">Please Login To Your Account</div>
		<form action="">
			<div class="labelUtilsLeft">
				<label for="email">Email*</label><a asp-controller="Account" asp-action="SignUp">Don't have an account yet?</a>
			</div>
			<input type="email" name="email" />
			<div class="labelUtilsRight">
				<label for="password">Password*</label><a href="#">Forgot your password?</a>
			</div>
			<input type="password" name="password" />
			<div class="termHolder">
				<input class="leaveSignedIn" type="checkbox" name="leaveSignedIn" />
				<label for="leaveSignedIn">Please leave me logged in</label>
			</div>
			<button class="btn-theme">Submit</button>
		</form>
	</div>
</section>
