@model RegisterViewModel

<section class="userForm onePage menu-spacer">
    <div class="container">
        <div class="title">Please Register Your New Account</div>

        <form method="post" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="name">
                <div class="form-group">
                    <label for="firstName" asp-for="FirstName"></label>
                    <input asp-for="FirstName" type="text" name="firstName" class="invalid" required />
                     <span class="error" asp-validation-for="FirstName"></span> 
                </div>
                <div class="form-group">
                    <label for="lastName" asp-for="LastName"></label>
                    <input asp-for="LastName" type="text" name="lastName" class="invalid" required />
                     <span class="error" asp-validation-for="LastName"></span> 
                </div>
            </div>
            <div class="form-group">
                <label asp-for="StreetName" for="streetName"></label>
                <input asp-for="StreetName" type="text" name="streetName" />
            </div>
            <div class="addressOptions">
                <div class="form-group">
                    <label asp-for="PostalCode" for="postalCode"></label>
                    <input asp-for="PostalCode" type="text" name="postalCode"/>
                </div>
                <div class="form-group">
                    <label asp-for="City" for="city"></label>
                    <input asp-for="City" type="text" name="city" />
                </div>
            </div>
            <div class="optionals">
                <div class="phoneNumber form-group">
                    <label asp-for="PhoneNumber" for="phoneNumber"></label>
                    <input asp-for="PhoneNumber" type="text" name="phoneNumber" />
                </div>
                <div class="companyName form-group">
                    <label asp-for="Company" for="company"></label>
                    <input asp-for="Company" type="text" name="company" />
                </div>
            </div>
            <div class="email form-group">
                <label asp-for ="Email" for="email"></label>
                <input asp-for="Email" type="email" name="email" class="invalid" required />
                 <span class="error" asp-validation-for="Email"></span> 
            </div>
            <div class="password form-group">
                <label asp-for="Password" for="password"></label>
                <input asp-for="Password" type="password" name="password" class="invalid" required />
                 <span class="error" asp-validation-for="Password"></span> 
            </div>
            <div class="password form-group">
                <label asp-for="ConfirmPassword" for="confirmPassword"></label>
                <input asp-for="ConfirmPassword" type="password" name="confirmPassword" class="invalid" required />
                 <span class="error" asp-validation-for="ConfirmPassword"></span> 
            </div>
            <div class="uploadImage form-group">
                <label asp-for="ProfileImage" for="profileImage"></label>
                <input asp-for="ProfileImage" type="file" name="profileImage" accept="image/*" />
            </div>

            <div class="termHolder">
                <input class="terms" type="checkbox" name="terms" required />

                <label for="terms">
                    I have read and accept the terms and agreements
                </label>
                 <span class="error">You must accept the terms and agreements</span> 
            </div>
            <button type="submit" class="btn-theme">Submit</button>
        </form>
    </div>
</section>