.userForm {
	flex: 1;
	.container {
		height: 100%;
		padding: 2rem 2rem;
		margin-top: 5rem;
		margin-bottom: 5rem;
		display: grid;
		place-items: center;
		text-align: center;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
		@include md {
			text-align: start;
		}
		.title {
			margin-bottom: 1.5rem;
			font-size: 1.5rem;
			text-align: center;
			width: 100%;
			@include md {
				text-align: start;
			}
		}
		form {
			width: 100%;
			input {
				width: 100%;
				margin-bottom: 1rem;
			}
			.labelUtilsLeft {
				display: flex;
				justify-content: space-between;
				gap: 1rem;
				@include md {
					justify-content: flex-start;
				}
			}
			.labelUtilsRight {
				display: flex;
				justify-content: space-between;
				@include md {
					justify-content: space-between;
				}
			}
			.name,
			.addressOptions,
			.optionals {
				display: grid;
				grid-template-columns: 1fr;
				@include md {
					grid-template-columns: 1fr 1fr;
				}
				grid-gap: 10px;
				label {
					display: block;
				}
			}
			.termHolder {
				display: flex;
				gap: 1rem;
			}
			.terms,
			.leaveSignedIn {
				width: 100%;
				display: block;
				@include md {
					width: auto;
					display: flex;
				}
			}
			.textBox {
				width: 100%;
				min-height: 150px;
				margin-bottom: 1rem;
			}
			button {
				display: flex;
				margin-left: auto;
				margin-right: auto;
				@include md {
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
	}
}
